@model ArticleDetailsServiceModel
@{
    ViewData["Title"] = $"{Model.Title}";
}

@{
    var base64 = Convert.ToBase64String(Model.AuthorImage);
    var src = String.Format("data:image/gif;base64,{0}", base64);
}
<br />
<div class="card" style="background-color:lightblue;">
    <div class="col-md-12">
        <div class="col-md-8 col-md-offset-2">
            <br /><br />
            <div class="text-center">
                <img class="card-img-top img-circle text-center" src="@src" alt="@Model.Author" height="200" width="200">
            </div>
            <br />
            <div class="card-block">
                <h2 class="card-title text-center"><strong>@Model.Title</strong></h2><br /><br />
                <p class="card-text">@Html.Raw(@Model.Content)</p>
                <br />
                <div class="text-right"><em>Author: @Model.Author<br />published on @Model.PublishDate.ToShortDateString()</em></div>
            </div>
        </div>
    </div>
</div>