@model UserServiceModel

@{
    ViewData["Title"] = "Profile";
}
<link href="~/css/accordion.css" rel="stylesheet" />

<div class="col-md-4">
    <div style="position:fixed;">
        <h3 style="color:blue; font-family: cursive">@Context.Session.GetString(SessionConstants.SessionUserFirstName)</h3>
        <h3 style="color:blue; font-family: cursive">@Context.Session.GetString(SessionConstants.SessionUserLastName)</h3><br />
        <button class="accordion">Profile</button>
        <div class="panel">
            <p style="margin-top:50px">Hello, @Context.Session.GetString(SessionConstants.SessionUserFirstName)!</p>
            <a href="/Profile/@Context.Session.GetInt32(SessionConstants.SessionUserId)" style="margin-bottom:50px" class="btn btn-success form-control">View profile</a>
        </div>
        <button class="accordion">Blog</button>
        <div class="panel">
            <p style="margin-top:50px">Create and design an article</p>
            <a href="/Articles" style="margin-bottom:50px" class="btn btn-success form-control">Go to Blog</a>
        </div>
        <button class="accordion">Games</button>
        <div class="panel">
            <p style="margin-top:50px">Play games and have fun</p>
            <a href="/events/myevents" style="margin-bottom:50px" class="btn btn-success form-control">Play Game</a>
        </div>
    </div>
</div>

<div class="col-md-8">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid d-block mx-auto" @*height="200" width="200"*@ src="@Context.Session.GetString(SessionConstants.SessionUserImage)" alt="">
        </div>
        <div class="col-md-8">
            <div class="jumbotron" style="height:200px; background-color:lightslategrey">
                <div class="col-md-5">
                    <ul>
                        <li>Name</li>
                        <li>Birthdate</li>
                        <li>Course</li>
                    </ul>
                </div>
                <div class="col-md-7">
                    <ul>
                        <li>@Model.FirstName @Model.LastName</li>
                        <li>@Model.BirthDate.ToShortDateString() in @Model.BirthPlace</li>
                        <li>@Model.Course</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <form method="post" enctype="multipart/form-data" asp-action="UploadFiles">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files using this form:</p>
                    <input name="UserId" value="@Context.Session.GetInt32(SessionConstants.SessionUserId)" hidden />
                    <input type="file" name="File" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" />
                </div>
            </div>
        </form>
    </div>

    @await Html.PartialAsync("_PostPartPartial", Model.Posts)

</div>
<script src="~/js/accordion.js"></script>
