@model UserServiceModel

@{
    ViewData["Title"] = "Profile";
}
<link href="~/css/accordion.css" rel="stylesheet" />


<div class="col-md-4">
    <div style="position:fixed">
        <h3 style="color:yellow; font-family: cursive">@Context.Session.GetString(SessionConstants.SessionUserFirstName)</h3>
        <h3 style="color:yellow; font-family: cursive">@Context.Session.GetString(SessionConstants.SessionUserLastName)</h3><br />
        <button class="accordion">Profile</button>
        <div class="panel">
            <p style="margin-top:50px">Visit your events here</p>
            <a href="/events/myevents" style="margin-bottom:50px" class="btn btn-success form-control">View</a>
        </div>
        <button class="accordion">Groups</button>
        <div class="panel">
            <p style="margin-top:50px">See all the events from all user</p>
            <a href="/events/all" style="margin-bottom:50px" class="btn btn-success form-control">View</a>
        </div>
        <button class="accordion">Articles</button>
        <div class="panel">
            <p style="margin-top:50px">Create new event here</p>
            <a href="/events/create" style="margin-bottom:50px" class="btn btn-success form-control">Create</a>
        </div>
        <button class="accordion">Games</button>
        <div class="panel">
            <p style="margin-top:50px">Visit your events here</p>
            <a href="/events/myevents" style="margin-bottom:50px" class="btn btn-success form-control">View</a>
        </div>
    </div>
</div>

<div class="col-md-8">
    @{
        var base64 = Convert.ToBase64String(Model.ProfileImage);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }

    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid d-block mx-auto" height="200" width="200" src="@imgSrc" alt="">
        </div>
        <div class="col-md-8">
            <div class="jumbotron" style="height:200px; background-color:lightslategrey">
                <div class="col-md-5">
                    <ul>
                        <li>Name</li>
                        <li>Birthdate</li>
                        <li>Course</li>
                    </ul>
                </div>
                <div class="col-md-7">
                    <ul>
                        <li>@Model.FirstName @Model.LastName</li>
                        <li>@Model.BirthDate.ToShortDateString() in @Model.BirthPlace</li>
                        <li>@Model.Course</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <form method="post" enctype="multipart/form-data" asp-action="UploadFiles">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files using this form:</p>
                    <input name="userId" value="@Context.Session.GetInt32(SessionConstants.SessionUserId)" hidden />
                    <input type="file" name="file" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" />
                </div>
            </div>
        </form>
    </div>
    <div class="jumbotron" style="background-color:lightsteelblue">
        <img src="https://www.tutorialrepublic.com/examples/images/avatar/3.jpg" class="avatar" alt="Avatar">
        What's on your mind?<br /><br />

        <form>
            <div class="radio">
                <label><input type="radio" name="optradio" checked>Status</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">Youtube link</label>
            </div>
            <textarea maxlength="300" placeholder="Share what you are thinking here ..." rows="5" class="form-control"></textarea>
            <br />
            <div class="text-right">
                <input type="submit" value="Post" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <iframe width="100%" height="400"
            src="https://www.youtube.com/embed/VA770wpLX-Q"></iframe>

</div>
<script src="~/js/accordion.js"></script>
