@model IEnumerable<PuSocialNetwork.Services.Models.PostListingServiceModel>

<div id="partial">
    <div class="jumbotron" style="padding:5px; background-color:lightgray">
        <img src="@Context.Session.GetString(SessionConstants.SessionUserImage)" height="50" width="50" class="avatar" alt="Avatar" style="border-radius: 25px 25px;">        <strong>What's on your mind?</strong><br />
        <form method="post" id="postForm">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-6">
                    <div class="radio" style="text-align:center">
                        <label><input type="radio" value="false" name="IsYoutube" checked>Status</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="radio">
                        <label><input type="radio" value="true" name="IsYoutube">Youtube link</label>
                    </div>
                </div>
            </div>
            <input name="UserId" value="@Context.Session.GetInt32(SessionConstants.SessionUserId)" hidden />
            <textarea name="Content" maxlength="300" placeholder="Share what you are thinking here ..." rows="5" class="form-control"></textarea>
            <div class="text-right">
                <input onclick="poststatus()" value="Post" class="btn btn-primary" />
            </div>
        </form>
    </div>
    </br>

    @foreach (var post in Model)
    {
        var base64 = Convert.ToBase64String(post.Image);
        var src = String.Format("data:image/gif;base64,{0}", base64);
        <div class="jumbotron" style="padding-bottom:50px; background-color:lightsalmon">
            <a href=""><h3><img src="@src" height="40" width="40" class="avatar" alt="Avatar" style="border-radius: 25px 25px;"> <strong>@post.AuthorName</strong> shared:</h3></a>
            <div style="text-align:left">
                @{
                    var hours = (int)((DateTime.UtcNow - post.PostDate).TotalHours);
                    string publishedTime = hours < 24 ? hours + " hour ago" : string.Empty;
                }

                <i>published on @post.PostDate.ToShortDateString()</i><br />
                <i>@publishedTime</i>
            </div>
            @if (post.IsYoutubeVideo)
            {
                <div class="row">
                    @{
                        var source = "https://www.youtube.com/embed/" + post.Content;
                    }
                    <div class="col-md-10 col-md-offset-1">
                        <iframe width="100%" height="200" src=@source></iframe>
                    </div>
                </div>
            }
            else
            {
                <div class="jumbotron" style="border-radius:100%; background-color:lightgray">
                    @post.Content
                </div>
            }
            <div class="row">
                <form method="post" asp-action="Comment">
                    @Html.AntiForgeryToken()
                    <div class="col-md-6">
                        <input name="text" type="text" class="form-control" placeholder="Write a comment ..." />
                    </div>
                    <div class="col-md-3">
                        <input name="userId" value="@Context.Session.GetInt32(SessionConstants.SessionUserId)" hidden />
                        <input name="postId" value="@post.Id" hidden />
                        <input type="submit" value="Comment" class="btn btn-info form-control" />
                    </div>
                </form>
                <div class="col-md-3">
                    <form method="post" asp-action="Like">
                        @Html.AntiForgeryToken()
                        <input name="userId" value="@Context.Session.GetInt32(SessionConstants.SessionUserId)" hidden />
                        <input name="postId" value="@post.Id" hidden />
                        <input type="submit" value="Like" class="btn btn-danger form-control" />
                    </form>
                </div>
            </div>
            <div style="text-align:right">
                @post.Comments.Count comments @post.TotalLikes likes
            </div>
            @foreach (var comment in post.Comments)
            {
                <div class="row">
                    <div style="color:red">@comment.AuthorName says: @comment.Text</div>
                </div>
            }
        </div>
    }

    @*<nav aria-label="Page navigation example" class="text-center">
            <ul class="pagination">
                <li class="page-item"><a asp-route-page="@Model.PreviousPage" class="page-link">Previous</a></li>

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    var activePage = Model.CurrentPage == i ? "active" : string.Empty;
                    <li class="page-item @activePage"><a asp-route-page="@i" class="page-link"> @i </a></li>
                }
                <li class="page-item"><a asp-route-page="@Model.NextPage" class="page-link">Next</a></li>
            </ul>
        </nav>*@
</div>
